root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{xml,yml,yaml,json,js,jsx,ts,tsx,css,scss,html,md,tex,bib}]
indent_style = space
indent_size = 2

[*.{properties,conf,config,ini}]
indent_size = 2

[*.{sh,bash,zsh,fish}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.{java,kt,kts,gradle,groovy,xml}]
indent_style = space
indent_size = 4

[*.tex]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
